/* This stylesheet is used to style the public-facing components of the plugin. */

.linkedin-connect-btn {
	background: url(../images/linkedin-signin-button.png) no-repeat ;
	height: 30px;
	width: 150px;
	margin: 5px 0 0 6px ;
	display:block;
    text-indent: -9999px;
}
