/* This stylesheet is used to style the public-facing components of the plugin. */

.linkedin-btn {
	background: url(../images/linkedin-signin-button.png) no-repeat ;
	height: 30px;
	width: 199px;
	margin: 0 auto;
	display:block;
}
