/* This stylesheet is used to style the public-facing components of the plugin. */

.linkedin-btn {
    background-image: url(../images/linkedin-signin-button.png) ;
     height: 30px;
   width: 199px;
    display:block;
}